{% extends './base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}
  Criar Artigo
{% endblock %}
  <!-- Main Content -->
  {% block main %}
    {% include "./base_includes/header.html" with titulo='<br><br><br>Seja um redator' sub='Nos envie artigos' %}
    <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-10 mx-auto">
            <form method="post">
                {% csrf_token %}
                {% bootstrap_field form.username  %}
                {% bootstrap_field form.email %}
                <div class="form-group">
                  <label for="id_password">Senha</label>
                  <input type="password" name="password" class="form-control" placeholder="Sua senha" title="" id="id_password">
                </div>
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                    Criar
                    </button>
                {% endbuttons %}
            </form>
            <hr>
            <div class="text-center">
            <a class="small" href="{% url 'login' %}">Logar!</a>
            </div>
          </div>
        </div>
    </div>

  {% endblock %}

