<div class="row">
        <div class="col-lg-6 col-md-10 mx-auto">
            <form action="{% url 'com' object.pk %}" method="post" class="form-inline">
                {% csrf_token %}
                  <div class="control-group col-md-10">
                      <div class="form-group floating-label-form-group controls">
                        <label></label>
                        <textarea rows="2" class="form-control" placeholder="Seu comentário..." name="texto" id="message" ></textarea>
                        <p class="help-block text-danger"></p>
                      </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="form-group col-md-2">
                      <button type="submit" class="btn btn-primary" id="sendMessageButton">Enviar</button>
                    </div>
              </form>
        </div>
        
      </div>