<div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-10 mx-auto">
       {% for artigo in object_list %}
        {% include "./artigo.html" with artigo=artigo.pk titulo=artigo.titulo tema=artigo.tema autor=artigo.redator data=artigo.data_criacao %}
       {% endfor %}
       {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a class="btn btn-primary float-left  p-1" href="/?page={{ page_obj.previous_page_number }}">anterior</a>
                {% endif %}
                <span class="page-current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a class="btn btn-primary float-right p-1 " href="/?page={{ page_obj.next_page_number }}">próxima</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
        <!-- Pager -->
        <!-- <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div> -->
      </div>
    </div>
  </div>