<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      {% include "./topbar.html" %}
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">
        
        <!-- Page Heading -->
        {% include "./heading.html" %}

        <!-- Content Row -->
        {% include "./content-row.html" %}
        
        <!-- Content Row -->
        {#% include "./content-row-2.html" %#}
        

        <!-- Content Row -->
        {#% include "./content-row-3.html" %#}

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    {% include "./footer.html" %}
    <!-- End of Footer -->

  </div>