
<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Artigos publicados/espera</h6>
          <!-- <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div> -->
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
            <canvas id="myArtigosChart"></canvas>
          </div>
        </div>
        <div class="mt-4 text-center small">
            <span class="mr-2">
              <!-- <i class="fas fa-circle text-primary"></i> Direct -->
            </span>
            <span class="mr-2">
              <!-- <i class="fas fa-circle text-success"></i> Social -->
            </span>
            <span class="mr-2">
              <!-- <i class="fas fa-circle text-info"></i> Referral -->
            </span>
          </div>
      </div>
    </div>
    <!-- Pie Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card-body">
            <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Autor</th>
                                <th>Título</th>
                                <th>Total de Comentários</th>
                                <th>Total de Visualizações</th>
                              </tr>
                            </thead>
                            <tfoot>
                              <tr>
                                <th>#</th>
                                <th>Autor</th>
                                <th>Título</th>
                                <th>Total Comentários</th>
                                <th>Total de Visualizações</th>
                              </tr>
                            </tfoot>
                            <tbody>
                           
                                {% for artigo in artigos_top %}
                                    <tr>
                                        <td> {{ forloop.counter }} </td>
                                        <td> {{ artigo.redator__login_senha__username }} </td>
                                        <td> {{ artigo.titulo }} </td>
                                        <td> {{ artigo.total_com }} </td>
                                        <td> {{ artigo.total_vis }} </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                    </table>
                            
            </div>
          </div>
    </div>
  </div>