<li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-envelope fa-fw"></i>
          <!-- Counter - Messages -->
          <span class="badge badge-danger badge-counter">{{ request.mensagens_nao_lidas.count }}+</span>
        </a>
        <!-- Dropdown - Messages -->
        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
          <h6 class="dropdown-header">
            Mensagens Recebidas
          </h6>
          {% for mensagem in  request.mensagens_nao_lidas %}
            <a class="dropdown-item d-flex align-items-center" href="{% url 'contato' mensagem.pk %}">
              <!-- <div class="dropdown-list-image mr-3">
                <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                <div class="status-indicator bg-success"></div>
              </div> -->
              <div class="font-weight-bold">
                <div class="text-truncate">{{ mensagem.assunto }}</div>
                <div class="small text-gray-500">{{ mensagem.nome }} - {{ mensagem.data }}</div>
              </div>
            </a>
           {% endfor %}
           <a class="dropdown-item text-center small text-gray-500" href="{% url 'lista_contatos' %}">Ver todas mensagens recebidas.</a>
        </div>
      </li>