<li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#tema" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fab fa-delicious"></i>
          <span>Temas</span>
        </a>
        <div id="tema" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ações</h6>
            <a class="collapse-item" href="{% url 'lista_temas' %}">Ver Temas</a>
            <a class="collapse-item" href="{% url 'create_tema' %}">Criar Tema</a>
          </div>
        </div>
      </li>