<li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#mensagens" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-envelope"></i>
          <span>Mensagens</span>
        </a>
        <div id="mensagens" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ações</h6>
            <a class="collapse-item" href="{% url 'create_sugestao' %}">Ver Mensagens</a>
            
          </div>
        </div>
      </li>