<li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#redatores" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-user-edit"></i>
          <span>Redatores</span>
        </a>
        <div id="redatores" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ações</h6>
            <a class="collapse-item" href="{% url 'lista_redatores' %}">Ver Redatores</a>
            
          </div>
        </div>
      </li>