<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->
    <h3 class="col-md-9 d-none d-md-block d-lg-none d-lg-block d-xl-none d-xl-block">
        Sejá bem vindo ao Brejo Livre!
    </h3>
    <h3 class="d-none d-sm-block d-md-none d-block d-sm-none" >Brejo L.</h3>
    {#%  include './form-search.html'  %#}

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto ">

      <!-- Nav Item - Search Dropdown (Visible Only XS) -->
      {#% include './form-search-xs.html' %#}

      <!-- Nav Item - Alerts -->
      {% include './notification-alert-1.html' %}

      <!-- Nav Item - Messages -->
      {% include './notification-alert-2.html' %}

      <div class="topbar-divider d-none d-sm-block"></div>

      <!-- Nav Item - User Information -->
      {% include './user-info.html' %}

    </ul>

</nav>