
{% extends "dashboard/base.html" %}
{% load static %}
{% block title %} - Gerentes Lista 
{% endblock %}

{% block main %}

    <a href="/dashboard/artigos/">Voltar</a>

    <h1>{{ object.titulo }}</h1>
    <h3>Criado por: {{ object.redator.nome_completo }}</h3>
    <p>{{ object.tema }}</p>

   <article>
       {{ object.texto }}
   </article>
   

   <hr>
   {% if object.comentario_set.all %}
   Comentários
        <ul>
            {% for comentario in object.comentario_set.all %}
                <li><a href="{% url 'del_coment' comentario.pk %}">{{ comentario.leitor }}</a>
                        - {{ comentario }} - {{ comentario.data_criacao }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <hr>

    <a href="{% url 'att_art' object.pk %}">Publicar</a>
        
        
{% endblock %}





















